{
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 80,
	"arrowParens": "always",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,

	"overrides": [
	  {
		"files": "main.js",
		"options": {
		  "semi": true
		}
	  }
	]
  }